<% provide(:title, 'Signup') %>
<h1 class="text-center page-title mt-4">新規登録</h1>

<div class="row justify-content-center align-items-center">
    <div class="col-md-6">
        <%= form_with(model: @user) do |f| %>
        <%= f.label :name, "ユーザー名", class: "form-label mt-2" %>
        <%= f.text_field :name, class: 'form-control' %>

        <%= f.label :email, "メールアドレス", class: "form-label mt-2" %>
        <%= f.email_field :email, class: 'form-control' %>

        <%= f.label :password, "パスワード", class: "form-label mt-2"%>
        <%= f.password_field :password, class: 'form-control' %>

        <%= f.label :password_confirmation, "パスワード確認", class: "form-label mt-2" %>
        <%= f.password_field :password_confirmation, class: 'form-control' %>

        <div class="d-flex justify-content-center mt-4">
            <%= f.submit "新規登録", class: "btn new-btn-main w-60 py-2" %>
        </div>
        <% end %>
    </div>
</div>