<% provide(:title, "Create-Post") %>
<div class="container">
    <div class="main posts-create-form">
        <h1>新規投稿作成</h1>
        
        <%= form_with model: @post, url: user_posts_path(@user), html: { enctype: "multipart/form-data" } do |f| %>

            <!-- 画像の追加 -->
            <div class="form-group">
                <label for="iamge-upload">画像を追加</label>
                <%= f.file_field :image, id: "image-upload", class: "form-control" %>
            </div>

            <!-- タグの追加 -->
            <div class="form-group">
                <label for="tags">タグを追加</label>
                <%= f.text_field :tags, id: "tags", class: "form-control", placeholder: "タグを追加" %>
                <div class="tags-container">
                    <span class="tag-item">もらった</span>
                    <span class="tag-item">彼女</span>
                    <span class="tag-item">マフラー</span>
                </div>
            </div>

            <!-- 投稿の追加 -->
            <div class="form-group">
                <label for="content">投稿を追加</label>
                <%= f.text_area :content, id: "content", class: "form-control", placeholder: "投稿を追加してみましょう。" %>
            </div>

            <!-- 送信ボタン -->
            <%= f.submit "投稿する", class: "btn btn-primary" %>
        <% end %>
    </div>
</div>