<header class="navbar navbar-expand-lg">
    <%
=begin%>
    navvar→Bootstrapのナビゲーションバー（ヘッダー）を定義
    navbar-expand-lg→画面サイズがlgになると展開（それ以下では折りたたまれる）
    <%
=end%>
    <div class="container">
        <!-- ロゴやアプリ名 -->
        <%
=begin%>
        #TODO loveepロゴ画像に差し替える
        <%
=end%>
        <% if logged_in? %>
        <%= link_to "loveep", posts_path, class: "navbar-brand" %>
        <% else %>
        <%= link_to "loveep", root_path, class: "navbar-brand" %>
        <% end %>

        <!-- ナビゲーションバーのトグル（レスポンシブ対応） -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- ナビゲーション?メニュー -->
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <!-- ログインしている場合 -->
                <% if logged_in? %>
                <li class="nav-item">
                    <%= link_to current_user.name, user_posts_path(current_user), class: "nav-link" %>
                </li>
                <li class="nav-item">
                    <%= link_to "ログアウト", logout_path, class: "nav-link", data: {"turbo-method": :delete, turbo_confirm: "本当にログアウトしますか？"} %>
                </li>
                <!-- ログインしてない場合 -->
                <% else %>
                <li class="nav-item">
                    <%= link_to "新規登録", signup_path, class: "nav-link" %>
                </li>
                <li class="nav-item">
                    <%= link_to "ログイン", login_path, class: "nav-link" %>
                </li>
                <% end %>
            </ul>
        </div>
</header>